:root{
	--color:#111111;
	--highlight:#eee;
	--timing-function:cubic-bezier(.4,0,.2,1);
}
*,*::before,*::after{
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	color:#212121;
	font-family:Roboto,arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-rendering:auto;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}
*>*{
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}
body{
	align-items:center;
	background:var(--highlight);
	color:var(--color);
	display:flex;
	font-size:14px;
	justify-content:center;
	min-height:100vh;
	padding:8px;
	user-select:none;
}
body ::-webkit-scrollbar{
	width:4px;
}
body ::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
}
body :hover::-webkit-scrollbar-thumb{
	background:#9e9e9e;
}
section{
	background:#fff;
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	overflow:hidden;
	position:relative;
}
section,
section>svg,
canvas{
	height:630px;
	width:1200px;
}
canvas{
	left:0;
	position:absolute;
	opacity:0;
	top:0;
}