:root{
	--color:#111;
	--highlight:#eee;
	--timing-function:cubic-bezier(.4,0,.2,1);
}
*,*::before,*::after{
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	color:#212121;
	font-family:Roboto,arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-rendering:auto;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}
*>*{
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}
body{
	background:var(--highlight);
	color:var(--color);
	font-size:14px;
	min-height:100vh;
	padding:8px;
	user-select:none;
}
body.flex{
	align-items:center;
	display:flex;
	justify-content:center;
}
body ::-webkit-scrollbar{
	width:4px;
}
body ::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
}
body :hover::-webkit-scrollbar-thumb{
	background:#9e9e9e;
}
section#image{
	background:#fff;
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	overflow:hidden;
	position:relative;
}
section#image,
section#image>svg,
section#image>canvas{
	height:630px;
	width:1200px;
}
section#image>canvas{
	left:0;
	position:absolute;
	opacity:0;
	top:0;
}
form#tests{
	display:flex;
	flex-wrap:wrap;
	gap:2px 8px;
	justify-content:space-between;
	margin:0 auto;
	padding:24px 0 8px;
	max-width:1200px;
}
form#tests>label{
	flex:1 1 calc((100% - 16px) / 3);
	font-weight:bold;
	order:1;
}
form#tests>input{
	border:1px solid;
	border-radius:4px;
	flex:1 1 calc((100% - 16px) / 3);
	height:30px;
	line-height:28px;
	padding:0 5px;
	order:2;
}
form#tests>input+p{
	flex:1 1 calc((100% - 16px) / 3);
	font-size:12px;
	order:3;
	padding:2px 0 0 4px;
}
form#tests>ul{
	margin-top:14px;
	order:4;
}
form#tests>ul>li{
	display:inline-block;
	font-weight:bold;
	line-height:24px;
	margin-right:6px;
	vertical-align:middle;
}
form#tests>ul>li+li{
	cursor:pointer;
}
form#tests>ul svg{
	fill:#9e9e9e;
	height:24px;
	pointer-events:none;
	vertical-align:middle;
	transition:fill .225s var(--timing-function);
	width:24px;
}
form#tests>ul[data-sort=name]>li[data-sort=name]>svg,
form#tests>ul[data-sort=size]>li[data-sort=size]>svg,
form#tests>ul[data-sort=luminance]>li[data-sort=luminance]>svg,
form#tests>ul[data-sort=ratio]>li[data-sort=ratio]>svg{
	fill:var(--color);
}
form#tests>p:last-of-type{
	font-weight:bold;
	line-height:24px;
	margin-top:14px;
	order:5;
}
ol#grid{
	color:#fff;
	display:grid;
	font-size:12px;
	gap:8px;
	grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
	margin:0 auto;
	max-width:1200px;
}
ol#grid>li{
	background:var(--color);
	border-radius:4px;
	padding:20px;
}
ol#grid>li.hide{
	display:none;
}
ol#grid svg{
	display:block;
	margin:0 auto 10px;
	height:48px;
	width:48px;
}
ol#grid p{
	margin:5px 0 0;
	text-align:center;
	white-space:nowrap;
}
ol#grid p:first-of-type{
	font-weight:700;
}